
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>This is the index pages.</title>
	<meta charset="utf-8" />
</head>
<body>
    <p1>Hello website!</p1><br>
    <a href="./New">New.</a><br>
    <a href="./Waitting">Waitting.</a><br>
    <a href="./Dogfood">Dogfood.</a><br>
    <a href="./Prod">Prod</a><br>
    <a href="./Exit_review">Exit review.</a><br>
    <a href="./Done">Done.</a><br>
</body>
</html>
