@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Process example.</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>
    <script src="../../Scripts/test.js" type="text/javascript"></script>
</head>
<body>
    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <script type="text/javascript">
        $(function () {
            console.log("hello for test1");
            // $.getJSON('./Track/getJson', function (data) {
            $.ajax({
                url: "/Track/getJson",
                dataType: 'json',
                async: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log("hello for test");
                    console.log(data);
                    

                    var d = JSON.parse(data, function (key, value) {
                        console.log("key = %s value = %s", key, value);
                        if (key == "date") {
                            var re = /-?\d+/;
                            var m = re.exec(value);
                            var dd = new Date(parseInt(m[0]));
                            return dd.toGMTString();
                        }
                        else {
                            return value;
                        }
                    });
                    //  console.log(d["date"]);
                    //  console.log(d["week"]);
                    for (var i = 0; i < d.length; i++) {
                        console.log(d[i]["date"] + "   " + d[i]["week"]);
                    }

                    t = ConvertJsonToTable(d);
                    document.write("<p1></p1>features' status.<br>");
                    document.write(t);
                }
            })
            // console.log("hello for test");


        });
    </script>
</body>
</html>
